<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <style>
            body{
                background-color: thistle;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            h1{
                text-align: center;
            }
            p{
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Home Page</h1>
        <h2>Hello, <%= name %></h2>
        <p>Welcome to Learn <%= subject %></p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo tempora et ex laborum similique deleniti architecto id praesentium, incidunt enim neque. Minus sint, perspiciatis voluptates, doloremque saepe vero corrupti tempora unde quo, natus provident. Minima voluptate odit amet error eum totam nam illo. Dolorem molestiae amet inventore, enim sed voluptatum exercitationem explicabo eius qui quibusdam saepe totam, delectus ullam rerum molestias a similique vel officiis voluptatem. Aspernatur modi est quisquam quod, quibusdam atque harum minima doloremque sit deserunt explicabo doloribus veniam perferendis iure, neque dignissimos aperiam corrupti officiis vel maiores natus facilis quia. Itaque officia omnis assumenda aspernatur odio numquam! Quis aut mollitia est tenetur? Harum repellendus autem molestias dignissimos pariatur dolores nesciunt eaque perspiciatis asperiores officia maxime ratione tempora, ducimus aspernatur fugit expedita perferendis? Assumenda nobis similique cumque qui. Voluptatem doloremque provident molestias totam debitis? Quae, quaerat? Dolorem porro dicta asperiores ex at vero illo fugit aperiam, totam laboriosam aliquid tempora provident. Aperiam rerum ratione explicabo quas, rem sint numquam, saepe quia quasi tempore dignissimos aliquid voluptates nihil. Repudiandae voluptate maxime exercitationem alias ipsum eum amet quisquam vel explicabo quia perspiciatis unde quasi ducimus delectus minima natus sit reprehenderit, nam harum. Eaque doloribus omnis perferendis hic tempora sit iusto nam! Sit aut est assumenda voluptate sequi accusamus aperiam exercitationem, adipisci praesentium dolores eligendi architecto quos voluptas, eius possimus magnam quis eaque esse iure! Doloremque nemo, soluta nostrum sint excepturi quaerat labore officia maiores beatae ab perspiciatis accusantium id ipsa eius rem fuga praesentium, aliquid recusandae quis aspernatur iste. Quia adipisci veritatis repellendus sunt minus quasi maiores hic laudantium magnam ducimus? Nulla velit, quod eligendi beatae modi iure tempora dolor, molestias accusamus labore quae eum praesentium asperiores atque omnis doloremque voluptatum debitis excepturi similique a? Nulla inventore doloremque voluptatum? Numquam itaque consequatur voluptatibus dolorem dolorum quidem perferendis reiciendis, quas iure.</p>
    </body>
</html>