:root{
    --bs-font-sans-serif: 'Roboto'
}
.carousel-inner, .carousel-item {
    height: 620px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card img{
    height: 370px;
    width: 100%;
    object-fit: cover;
}

.bg{
    background-image: url('../images/banner/zootopia-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.bg::before{
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.5) 60%, rgb(26, 26, 26) 100%);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: -1;
}